<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "rompe"
		versionCode="2.0"
		version   = "1.0">
		<name>PUZZLE</name>
		<description>juego de rompecabezas		</description>
		<author href="" email="lucero@gmail.com">
		Lucero iridian vazquez morales	
		</author>
		
		<preference name="phonegap-version" value="3.3.0" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="9" />
		<preference name="android-maxSdkVersion" value="19" />
		<preference name="android-targetSdkVersion" value="19" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value="" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="KeepRunning" value="true" />
		<preference name="DisallowOverscroll" value="false" />
		<preference name="LoadingDialog" value="," />
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		<gap:platform name="android" />
		<feature name="http://api.phonegap.com/1.0/file"/>
		<icon src="imagenes/super.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="imagenes/ocho.jpg" gap:platform="android" gap:density="mdpi" />
</widget>